@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");

#display {
  min-height: 100px;
  background-color: #000;
  color: #6edadc;
  font-family: "Share Tech Mono", monospace;
  display: grid;
  align-content: center;
  border: 5px inset rgb(119, 117, 117);
}
