#drum-machine {
  background-image: linear-gradient(
    180deg,
    hsl(0, 0%, 78%) 0%,
    hsl(0, 0%, 90%) 47%,
    hsl(0, 0%, 78%) 53%,
    hsl(0, 0%, 70%) 100%
  );
  display: grid;
  grid-template-rows: 20% 80%;
  width: 50vw;
  height: 50vh;
  padding: 25px;
  border-radius: 10px;
}
.top {
  display: grid;
  grid-template-columns: 50% 50%;
}
.middle {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  justify-items: space-around;
}
.middle-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.bottom {
  grid-column-start: span 2;
}
